{include="header"}
{include="back"}


<div class="shop">
    <div class="computer">
        <img src="./res/assets/computador 01.jpg" alt="">
        <div class="text">
            <p><strong> Computador usado Oceanic VT410</strong></p><br>
            <p>

                Usado em apenas 10 mergulhos

                4 misturas (até 100% oxigênio)

                Valor: R$2.800
            </p>
        </div>
    </div>

    <div class="computer">
        <img src="./res/assets/colete 01.jpg" alt="">
        <div class="text">
            <p><strong>Colete Subea 500 Tribord</strong> </p> <br>
            <p>
                Lastro integrado para até 8 kg
                Tamanho M
                Valor: R$1.400</p>
        </div>
    </div>

    <div class="computer">
        <img src="./res/assets/colete 02.jpg" alt="">
        <div class="text">
        <p><strong>Computador usado Oceanic VT410</strong></p> <br>

        <p> Usado em apenas 10 mergulhos

            4 misturas (até 100% oxigênio)

            Valor: R$2.800</p>
        </div>
    </div>
</div>

{include="footer"}